
.navigation {
    display: flex;
    justify-content: center;
}
.navigation i {
    margin: 12px;
}
.theme {
    display: flex;
    float: right;
    margin-right: 15%;
    font-size: 1em;
    
    
}